Repository E3SM-Project/scorpio, pull requests merged in 2024-12, with the labels that each got.

#624 Apply a workaround for CMake FindMPI regression on Cray systems
  CMakeLists.txt
Labels: High Priority, Next Release, cmake

#627 Fix usage of find_package_handle_standard_args
  cmake/FindGPTL.cmake
  cmake/FindHDF5.cmake
  cmake/FindMPE.cmake
  cmake/FindMPISERIAL.cmake
  cmake/FindNetCDF.cmake
  cmake/FindPnetCDF.cmake
  cmake/LibFind.cmake
Labels: Next Release, cmake

#626 Redirect ADIOS output symlink to md file
  src/clib/pioc_support.cpp
Labels: Next Release, ADIOS

#628 Adding ADIOS output symlink to md file (maint v1.6)
  src/clib/pioc_support.c
Labels: ADIOS
